<footer>
    <div class="row">
        <div class="col">
            <h2 class="yellow">Who is this</h2>
            <p>Croasan is a videogame animator based in Barcelona. He currently works as Animation Director at UNSEEN.</p>
        </div>
        <div class="col">
            <h2 class="blue">Related links</h2>
            <a href="">Twitter</a>
            <a href="">Instagram</a>
        </div>
        
        <div class="col">
            <h2 class="pink">Latest posts</h2>
        </div>
    </div>
</footer>