<footer>
    <div class="row">
        <div class="col">
            <h2 class="yellow">Who is this</h2>
            <p>Croasan is a videogame animator based in Barcelona. He currently works as Animation Director at UNSEEN.</p>
        </div>
        <div class="col">
            <h2 class="blue">Related links</h2>
            <ul>
                <li><a href="https://twitter.com/croa_san">Twitter</a></li>
                <li><a href="https://www.instagram.com/croa_san/">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>