{% if paginator.total_pages > 1 %}
<ul class="nav justify-content-center m-5">    
    {% if paginator.previous_page %}
    <li class="nav-item">
    <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="nav-item">
    <a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}