<div class="top-header">
    <ul class="nav justify-content-start">
        <li class="nav-item">
            <a href="/">
                <img class="logo" id="logo" src="/assets/img/logo.png" alt="Croasan">
            </a>
        </li>
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <li class="nav-item mx-auto">
            <!-- <p class="count">{{ site.tags[tag_name].size }}</p> -->
            <a href="/category/{{ category_name }}">{{ category_name }}</a>
            <p class="count">/ {{ site.categories[category_name].size }}</p>
        </li>
        {% endfor %}
    </ul>
</div>