---
---

@import url('https://fonts.googleapis.com/css?family=Domine:700');


$background-color: #F7F0E9;
$title-color: #F84F38;
$title-font: Domine;
$caption-color:#959791;

$yellow: #FFB052;
$blue: #00D0FA;
$pink: #F73B5E;

body{
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: $background-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.yellow{
    color: $yellow;
}
.pink{
    color: $pink;
}
.blue{
    color: $blue;
}

.posts{
}

.post{
    margin-bottom: 128px;
}

.date{
    text-align: right;
    font-size: 16px;
    font-style: italic;
    color: $caption-color;
    margin-top: 16px;
    text-align: right;
}

.title_block{
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 16px;

    .categories{
        font-size: 16px;
        color: $caption-color;
        margin-top: 16px;
        display: inline;
        vertical-align: bottom;
        font-style: italic;
    }

    h1{
        color: $title-color;
        text-transform:uppercase;
        letter-spacing: -2px;
        font-size: 32px;
        text-align: right;
        display: inline;
        vertical-align: bottom;
        margin-left: 8px;
    }
}

header{
    font-size: 24px;
    z-index: 2;
    width: 100%;
    height: 100%;

    ul{
        list-style: none;
        margin-top: 16px;
        padding-left: 0px;
        display: inline-block;
        text-align: left;
    }

    .tags{
        text-align: center;
    }

    .logo{
        max-width: 100px;
        border-radius: 50%;
        display: block;
        margin: auto;

    }

    .count{
        display: inline;
        color:#F84F38;
        text-decoration: none;
        float: right;
    }

    a {
        float: left
        margin-bottom: 8px;
        color: black;
        font-size: 16px;
        text-decoration: none;
        display: list-item;
        list-style: none;
        top: 0;
        text-transform: capitalize;
    }
}

footer{
    margin-bottom: 128px;
    h2{
        text-transform:uppercase;
        letter-spacing: -2px;
        font-size: 32px;
    }

    ul{
        list-style: none;
        margin-top: 16px;
        padding-left: 0px;
    }

    a {
        margin-bottom: 8px;
        color: black;
        font-size: 16px;
        text-decoration: underline;
        display: list-item;
        list-style: none;
        top: 0;
        text-transform: capitalize;
    }
}
