---
title: A text post
date: 2024-03-05
categories: 
    - "animation"
    - "photography"
---
<div class="col-lg">
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/860652746?h=1f699a9e04&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><a href="https://vimeo.com/860652746">La Terreta</a> from <a href="https://vimeo.com/croasan">croasan</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
    
<div class="col-lg">
    {% include title_block.html %}

    <p class="text-end"><strong>muy importante</strong> It is a long established fact that a reader will be distracted by the readable content of a page
        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
        publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
        'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years,
        sometimes by accident, sometimes on purpose (injected humour and the like).</p>

        {% include date_block.html %}
</div>


